@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<script src="jquery-3.6.3.min.js"></script>
<button onclick="getdata()">GET DATA</button>
<hr>
<h2>POST DATA</h2>
<input id="namegroub" type="text" placeholder="namegroub">
<button id="sentgroub" >Send</button>

<hr>
    <h2>GET DATA</h2>

<table>
  <tr>
    <th>name</th>

  </tr>

  <tr>
    <td id="showdata"></td>

  </tr>


</table>
<button id="getgroub" >GET DATA</button>




