@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<script src="jquery-3.6.3.min.js"></script>
<button onclick="getdata()">GET DATA</button>

<input id="id" type="number" placeholder="id">
<input id="name" type="text" placeholder="Name">
<input id="email" type="email" placeholder="email">
<input id="numbergroub" type="text" placeholder="groupId">


<button id="post" >Send</button>