html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.he{
  display: block;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid red;
  position: relative;
}
.he::before{
  content: "X";
  cursor: pointer;
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 29px;
    color: red;
}

.he::after{
  content: "&";
  cursor: pointer;
    position: absolute;
    top: 5px;
    right: 100px;
    font-size: 29px;
    color: rgb(0, 255, 38);
}